Body {
  margin: auto;
  padding: 60;
  background: rgba(50,50,50);
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  display: block;
  color: rgba(213,213,212);
  text-align: left;
}

img {
  height: auto;
  width: 90%;
  padding-top: 40;
  padding-bottom: 40;
}