Body {
  margin: 0;
  background: rgb(50%, 50%, 50%);
  text-align: center;
}

h1 {
  color: rgb(213%, 213%, 212%);
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

img {
  height: auto;
  width: 100%;
  
}