Body {
  margin: 10;
  padding: 60;
  background: rgba(50,50,50);
  text-align: center;
}

h1 {
  color: white;
}

h2 {
  color: rgba(213,213,212);
}

h3 {
  color: white;
}

p {
  color: rgba(213,213,212);
  padding: 60;
}

img {
  height: auto;
  width: 100%;
  padding-top: 40;
  padding-bottom: 40;
  padding-left: 60;
  padding-right: 60;
}